
  header .carousel-inner .item{
    height: 100vh;
  }
  header .carousel-inner .item img{
    width: 100%;
  }
  .carousel-caption{
    padding-bottom: 150px;
  }
  .carousel-caption h2{
    font-size: 50px;
    text-transform: uppercase;
  }
  .carousel-control.right{
    background-image: none;
  }
  .carousel-control.left{
    background-image: none;
  }
  
  
  
  
  /* ignore the code below */
  
  
  .link-area
  {
    position:fixed;
    bottom:20px;
    left:20px;  
    padding:15px;
    border-radius:40px;
    background:tomato;
  }
  .link-area a
  {
    text-decoration:none;
    color:#fff;
    font-size:25px;
  }