.category {
  /* flex-wrap: wrap; */
  margin-top: 20px !important;
  margin-bottom: 80px !important;
}

img.card-img-top {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: auto;
}

.flex-wrap {
  flex-wrap: wrap!important;
  margin: auto;
  justify-content: center !important;
}

.cart-page .card {
  padding: 5px !important;
  /* height: 150px !important; */
  margin-bottom: 5px !important;
  background:#8080801a;
}


.category .card {
  background-color: rgba(128, 128, 128, 0);
  /* background-color: rgba(128, 128, 128, 0.097); */
  width: fit-content;
}
.category .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category .card-price {
  color: green;
  font-weight: bold;
}
.category button {
  border-radius: 5px;
  width: 100%;
  /* border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  margin-left: 2px;
  margin-right: 4px;
  font-size: 14px;
  font-weight: bold;
}

.category .card-text {
  color: rgb(90, 89, 89);
}

.category .card img:hover {
  transform: scale(0.9);
}

.category .card-img-top {
  height: 300px !important;
}

.d-flex {
  display:list-item;
}

.row {
  /* --bs-gutter-x: 1.5rem; */
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  /* margin-right: calc(-.5 * var(--bs-gutter-x)); */
  /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
}



@media (min-width: 1200px){
.container {
    max-width: auto;
}
}

/* @media only screen and (min-width:200px) and (max-width:767px){
  .home-page
  {
     width: 100%;
     flex-direction: column;
     margin: 30px;
  }
  
} */