.banner-img {
  margin-top: 5px;
  /* width: 100%; */
  height: 350px;
}

.home-page h1 {
  color: rgb(15, 14, 14);
  font-family: "Playfair Display", serif;
  margin-left: 20%;
}

.card{
  --bs-card-border-width: 0 !important;
}


.home-page {
  display: flex;
  /* flex-wrap: wrap; */
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem !important;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}

.home-page button {
  border-radius: 2;
  width: 100%;
  /* border-top-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}

.filters{
  margin-bottom: 80px;
  margin-top: 0;

}

.filters h4 {
  margin-top: 20px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}


.mt-3 {
  margin-top: 120px!important;
}

span{
  font-size:15px;
}
/* a{
text-decoration:none; 
color: #0062cc;
border-bottom:2px solid #0062cc;
} */
.box{
  padding:60px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: auto !important;
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 1rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-offcanvas-bg: var(--bs-body-bg);
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1.5;
}

/* .dropend .dropdown-toggle {
  color: salmon;
  margin-left: 1em;
} */
/* .dropdown-item:hover {
  background-color: lightsalmon;
  color: #fff;
} */
.dropdown .dropdown-menu {
  display: none;
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}
@media screen and (min-width: 769px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}




 .arrow1{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}
.arrow1 a{
  height: 39px;
  width: 37px;
  text-align: center;
  background: #ffc800;
  display: block;
  border-radius: 3px;
}
.arrow1 a span{
  color: #f2f2f2;
  font-size: 25px;
  line-height: 39px;
  cursor: pointer;
}