.banner-img {
  margin-top: 5px;
  /* width: 100%; */
  height: 350px;
}

.card{
  --bs-card-border-width: 0 !important;
}

.home-page h1 {
  color: rgb(15, 14, 14);
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  /* flex-wrap: wrap; */
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem !important;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}

.filters{
  margin-bottom: 80px;
  margin-top: 0;

}

.filters h4 {
  margin-top: 20px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}


.mt-3 {
  margin-top: 120px!important;
}

span{
  font-size:15px;
}
a{
text-decoration:none; 
color: #0062cc;
border-bottom:2px solid #0062cc;
}
.box{
  padding:60px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}
